# Generated
*.yy.c
*.nasm
*.vcg
*.o
*.d
a.out
.depend

# Generados por astyle
*.orig

# Text-editor related
*~
.*.swp
.*.swo

# Incluimos el alfalib por comodidad
!obj/alfalib.o

# Ejecutables de pruebas
main_0_generacion
main_0_generacion_ejemplo1
main_0_generacion_ejemplo2
main_0_generacion_ejemplo3
main_1_tabla
main_2_morfo

# Ejecutable compilador
alfa
compilador

# Generado por bison
src/alfa.yy.c
src/alfa.tab.c
include/alfa.tab.h
src/alfa.dot
src/alfa.output
misc/alfa.dot
misc/alfa.output

# Grafo del automata
misc/alfa.dot.pdf

