# Generated
*.yy.c
*.nasm
*.o
*.d
a.out
.depend

# Text-editor related
*~
.*.swp
.*.swo

# Incluimos el alfalib por comodidad
!obj/alfalib.o

# Ejecutables
main_0_generacion
main_1_tabla
main_0_generacion_ejemplo1
main_0_generacion_ejemplo2
main_0_generacion_ejemplo3

pruebaMorfo
prueba_tabla
